.adminForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}
.admin {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.adminForm input,
select {
  margin: 10px;
  width: 300px;
  height: 30px;
  font-size: 20px;
}

.adminForm button:hover {
  cursor: pointer;
  border: 10px solid red;
}

/* table,
th,
td {
  border: 1px solid;
} */

.tblhead {
  /* background-color: rgba(153, 177, 156); */
  /* background-color: rgba(36, 25, 65, 0.856); */
  background-color: rgba(0, 0, 0, 0.418);
  /* color: white; */

  border: 1px solid rgb(0, 0, 0);
}
th {
  border: 1px solid black;
  padding: 10px;
}
tr {
  /* color: white; */
  border: 1px solid black;
}
td {
  padding: 10px;
}

.Logo {
  height: 900px;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.24), rgba(0, 0, 0, 0.13)),
    url(../pages/Login/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.tbl {
  background-color: rgba(0, 0, 0, 0.445);
  border-radius: 5px;

  padding: 30px;
  margin-bottom: 280px;
}
.tblnew {
  padding: 10px;
  border: 1px solid rgb(0, 0, 0);
  opacity: 0.8;
  height: 200px;
}

/* .btn {
  background-color: rgb(243, 12, 12);
  border-radius: 35px;

  padding: 10px;
} */

.chart {
  width: "400px";
  height: "200px";
  /* background-color: rgba(14, 14, 14, 0.26); */

  /* color: #fff; */
}
